body {
    background: [black];
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    }
    h1 {
    color: [red];
    text-align: center;
    }
    body {
        background: #3113b5;
        font-family:"Times New Roman", Times, serif;
        margin: 40px;
        }
        h1 {
        text-align: center;
        color: #f90000;
        }

        .projects { 
            display:flex; 
            flex-wrap:wrap; } /* condensed to save space */
            
            .project {
    width: 30%;
    margin: 10px;
    padding: 20px 10px;
    background: white; /* pick a color */
    border-radius: 25%;
    }