body {
    background: [black];
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    }
    h1 {
    color: [red];
    text-align: center;
    }
    body {
        background: #120101;
        font-family:"Times New Roman", Times, serif;
        margin: 40px;
        }
        h1 {
        text-align: center;
        color: #f90000;
        }